{% extends "base.html" %}
<!-- Content -->
{% block content %}
<section id="intro">
  <a href="{% url 'blogs:home' %}" class="logo">
    <img src="static/images/logo.jpg" alt="" />
  </a>
  <header>
    <h2>Louis Dev</h2>
    <p>
      Sharing my thoughts on tech career, web development, and learning how to
      code
    </p>
  </header>
</section>

<!-- Posts -->
{% for post in posts %}
<!-- Post -->
<article class="post">
  <header>
    <div class="title">
      <h2>
        <a href="{% url 'blogs:post_detail' post.id %}">{{post.title}}</a>
      </h2>
    </div>
    <div class="meta">
      <time class="published">{{post.published_at}}</time>
      <a href="#" class="author"
        ><span class="name">{{post.author}}</span
        ><img src="static/images/avatar.jpg" alt="avatar"
      /></a>
    </div>
  </header>
  <a href="{% url 'blogs:post_detail' post.id %}" class="image featured"
    ><img src="{{ post.cover }}" alt="cover-image"
  /></a>
  <p>{{post.body|truncatewords:25|linebreaks}}</p>
  <footer>
    <ul class="actions">
      <li>
        <a href="{% url 'blogs:post_detail' post.id %}" class="button large"
          >Continue Reading</a
        >
      </li>
    </ul>
    <ul class="stats">
      <li><a href="#">General</a></li>
      <!-- <li><a href="#" class="icon solid fa-heart">28</a></li> -->
      <li><a href="#" class="icon solid fa-comment">128</a></li>
    </ul>
  </footer>
</article>

{% endfor %}

<!-- Pagination -->
<ul class="actions pagination">
  <li>
    <a href="" class="disabled button large previous">Previous Page</a>
  </li>
  <li><a href="#" class="button large next">Next Page</a></li>
</ul>

{% endblock %} {% block footer %}
<!-- Sidebar -->
<section id="sidebar">
  <!-- Footer -->
  <section id="footer">
    <ul class="icons">
      <li>
        <a href="https://twitter.com/kawingt2" class="icon brands fa-twitter"
          ><span class="label">Twitter</span></a
        >
      </li>
      <!-- <li>
        <a href="#" class="icon brands fa-facebook-f"
          ><span class="label">Facebook</span></a
        >
      </li> -->
      <li>
        <a
          href="https://www.instagram.com/louis_tkw/"
          class="icon brands fa-instagram"
          ><span class="label">Instagram</span></a
        >
      </li>
    </ul>
    <p class="copyright">
      &copy; Louis Dev. Images:
      <a href="http://unsplash.com">Unsplash</a>.
    </p>
  </section>
</section>

{% endblock %}
